# SPDX-License-Identifier: GPL-2.0
# Copyright (C) 2023-2025 Intel Corporation
config INTEL_SSEI
	tristate "Intel Silicon Security Engine Interface"
	help
	  The ISSEI (Intel Silicon Security Engine Interface)
	  subsystem provides a communication channel between the host and the
	  Silicon Security Engine.
	  This interface available on platforms with Intel Silicon Security Engine
	  starting from the LunarLake platform.

	  If selected, the /dev/isseiX device will be created.
	  If in doubt, select N.

if INTEL_SSEI

config INTEL_SSEI_HW_HECI
	tristate "Intel Silicon Security Engine Interface Hardware"
	depends on PCI
	help
	  HECI interface of communication channel between
	  the host and the Silicon Security Engine.

	  Implementation of ISSEI communication channel over
	  the HECI hardware PCI device.

endif
