config INTEL_IPU7_FPGA_PDATA
	bool "Enable built in platform data for ipu7 fpga"
	depends on VIDEO_INTEL_IPU7
	help
	Pre-ACPI system platform data is compiled inside kernel.

	This platform data is only used for PSS stage software
	development and mainly used for pixter or sensor enablement
	without ACPI support.

config INTEL_IPU7_ACPI
	tristate "Enable IPU ACPI driver"
	default VIDEO_INTEL_IPU7
	depends on I2C
	depends on ACPI
	help
	  Driver to read ACPI data from BIOS

	  This driver is used to read ACPI data from BIOS
